// the font size in pt is used to configure the optical size of the font:
// font-variation-settings: "opsz" $font-size-pt;
@function rem-to-pt($font-size-rem) {
  // we divided by 1rem to convert the font size into a unitless value,
  // which is what is required for the font optical size
  $font-size: $font-size-rem / 1rem;
  // we assume that rem = 16px as this is the default for most browsers. 
  // however, this assumption is incorrect for people that have a larger rem
  // font size. unfortunately, there is no better way to do this, because the
  // css calc() doesn't convert rem to a unitless value
  $font-size-px: $font-size * 16;
  $font-size-pt: $font-size-px * 3/4;
  @return $font-size-pt;
}

@mixin optical-font-size($font-size-rem){
  font-variation-settings: "opsz" rem-to-pt($font-size-rem);
}

@mixin font-size($font-size-rem){
  font-size: $font-size-rem;
  // set the optical size (for variable fonts that support it)
  // to optimise the font based on its size
  @include optical-font-size($font-size-rem);
}

@mixin capitalize() {
  text-transform: lowercase;
  ::first-letter {
    text-transform: uppercase;
  }
}
