@mixin remove-list-bullets(){
  padding-inline-start: 0;
  list-style-type: none;
  > li:before {
    // Add zero-width-space to prevent VoiceOver disable for lists with
    // list-style-type: none;
    content: "\200B";
    // Absolute position ensures no extra space
    position: absolute;
  }
}

@mixin horizontal-list(){
  @include remove-list-bullets();
  margin: 0;
  > li {
    line-height: 1;
    display: inline-block;
    &:not(:last-child){
      margin-right: 1em;
    }
  }
}
