@use "_mixins/layout";

textarea {
  overflow: auto; // overrides overflow: scroll set by some browsers
  width: 100%;
  resize: vertical;
  height: var(--height-text-area, 8em);
}

input, textarea {
  padding: 0.2em 5px;
}

form {
  --form-item-spacing: 1rem;
  > ul {
    @include layout.remove-list-bullets();
    > li > * {
      display: block; // all form labels, inputs and buttons stack on top of each other
    }
    // apply a padding to each label except for the first one in the list
    // I apply the padding to the label so it has a larger clickable surface
    > li + li > label {
      padding-top: var(--form-item-spacing);
    }
  }
  button {
    margin-top: var(--form-item-spacing);
  }
}

