@use "_mixins/screen";

// Remove the tiny space around the edge of the page.
body { margin: 0; }

// keep <footer> at the bottom of the page
body {
  min-height: 100vh;
  display: grid;
  // <header> and <footer> keep their existing size (auto). 
  // <main> expands to fill the remaining space (1fr)
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  grid-template-columns: var(--columns, 100%);
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: subgrid;
}

header,footer { padding: 1rem; }

ul {
  padding-left: 1rem;
  @include screen.medium { 
    padding-left: 0;
  }
}
