@use "_mixins/layout";
@use "_mixins/screen";

ul.horizontal-list {
  @include layout.horizontal-list();
}

// automatically switch single to multi columns for displaying multiple items
// grid columns are calcualted implicitly based on screen size
ul.implicit-grid {
  $grid-item-min-width: 300px;
  $grid-column-gap: 50px;

  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($grid-item-min-width, 1fr));
  grid-column-gap: $grid-column-gap;
  // small row gap when there is only one column
  grid-row-gap: 1em;
  // increase the row gap when there is more than 1 column
  @include screen.larger-than(calc(#{$grid-item-min-width * 2} + #{$grid-column-gap})) {
    grid-row-gap: $grid-column-gap;
  }
}
