// https://github.com/jensimmons/cssremedy (version: 0.1.0-beta.2)
// this file contains generic layout remedies. 
// pecific remedies are moved to fitting folder.
// remedies not relevant for this site are removed (audio, canvas, iframe...)

// predictable paddings and marigns on all html tags
*, ::before, ::after { box-sizing: border-box; }
// ensure that hidden always works, even when overriding display value
[hidden] { display: none; }
// don't render sources
source { display: none; }
// Responsive Embeds
img, svg {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}
// Responsive Images
picture { display: contents; }
// Maintain intrinsic aspect ratios when `max-width` is applied.
img, svg { height: auto; }
