---
title: contact
description: contact me if you need help with your website, if you have any questions, or if you just want get to know me.
---
<p><a href="mailto:{{ site.email | encode_email }}">{{ site.email }}</a></p>
<p>
  {{ page.description }}
</p>
