---
---
<!DOCTYPE html>
<html lang="{{ page.language }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include assets.html %}
    {% seo %}
  </head>
  <body>
    {{ content }}
  </body>
</html>
