/////////////////
//  typefaces  //
/////////////////
html { font-family: 'Newsreader', serif; }

h1, h2 {
  font-family: 'Grotesk', sans-serif;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
/////////////
//  sizes  //
/////////////

// scalable font size. by setting a scalable rem font-size on :root
// all other elements that use `rem` values will scale proportionally
:root { 
  font-size: clamp(1.0rem, 2.3vw, 1.5rem); 
  --font-size-inputs: 0.85rem;
}
// Switch to rem units for headings
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.17rem; }
h4 { font-size: 1.00rem; }
h5 { font-size: 0.83rem; }
h6 { font-size: 0.67rem; }
// Keep h1 margins consistent, even when nested.
h1 { margin: 0.67em 0; }

input,
select,
textarea {
  font-size: var(--font-size-inputs, 0.85rem);
}

label {
  --font-size-label: calc(var(--font-size-inputs, 0.85rem) - 0.15rem);
  font-size: var(--font-size-label);
}

///////////////
//  spacing  //
///////////////

// higher line height to make text easier to read
html { line-height: 1.5; }
h1, h2, h3, h4, h5, h6 { line-height: 1.25; }
caption, figcaption, label, legend { line-height: 1.375; }

////////////////
//  overflow  //
////////////////

// Overflow by default is bad...
pre { white-space: pre-wrap; }
// prevent text overflow
html { overflow-wrap: break-word; }
  

////////////////
//  advanced  //
////////////////

// correct quotes
:root:lang(en), :not(:lang(en)) > :lang(en) { quotes: '\201c' '\201d' '\2018' '\2019' } /* “ ” ‘ ’ */
// optical sizing
html { font-optical-sizing: auto; }

