@font-face {
  font-family: 'Grotesk';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Grotesk-Medium.woff2') format(woff2),
    url('/assets/fonts/Grotesk-Medium.woff') format(woff);
}

@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  src: url('/assets/fonts/Newsreader-opsz_wght.woff2') format(woff2) tech(variations);
}

@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  src: url('/assets/fonts/Newsreader-Italic-opsz_wght.woff2') format(woff2) tech(variations);
}
