@use "_mixins/screen";

.vertical-title-grid {
  margin: 0 1rem;
  @include screen.medium { 
    margin: 0;
    display: grid;
    grid-template-areas: 
      ". description"
      "title content"
      "title content";
    grid-template-columns: min-content 1fr;
    // grid-template-rows: 2rem auto auto;
    > h1:first-of-type {
      grid-area: title;
      margin: 0 1rem;
      writing-mode: vertical-rl;
    }
    > p:first-of-type {
      grid-area: description;
    }
    > div:first-of-type {
      grid-area: content;
      > :first-child {
        margin-top: 0;
        line-height: 1em;
      }
    }
  }
  @include screen.huge { 
    grid-template-areas: 
      ". . ."
      "description title content"
      ". title content";
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr max-content 5fr;
    // adjust top margins and line heights so that elements align
    > h1:first-of-type {
      margin: 0 2rem;
      // transform: rotate(-5deg);
    }
    > p:first-of-type {
      text-align: right;
      margin-top: -0.2em;
    }
  }
}
