@use "_mixins/screen";

.markdown-container {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
}

.markdown-content {
  grid-column: 1/3;
  @include screen.large { 
    grid-column: 2/3;
    max-width: 70ch;
  }
}
