:root {
  // render html elements (like input fields, dropdowns) in the native dark style
  color-scheme: only dark;
}

body{
  background: var(--background-color, var(--black-carbon, black));
  color: var(--text-color, white);
}

a{
  color: var(--accent-color, cyan);
}

// Solid, thin horizontal rules
hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

button {
  font-weight: bold;
  padding: 0.5em 1em;
  background: var(--background, black);
  color: var(--text-color, white);
  border-color: var(--accent-color);
  border-width: var(--border-width, 0.3em);
}
