%underline--thick {
  --underline-thickness: 0.2em;
  text-decoration: solid var(--underline-thickness) underline;
  text-decoration-skip-ink: none;
  text-underline-offset: calc(var(--underline-thickness) * 2);
  &--red {
    @extend %underline--thick;
    text-decoration-color: red;
  }
}

%large-italic-emphasis {
  font-size: 1.5rem;
  font-weight: 350;
  font-style: italic;
}

.thesis {
  @extend %large-italic-emphasis;
  @extend %underline--thick--red;
}
