<link rel="preload" href="{{ 'assets/fonts/Grotesk-Medium.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="{{ 'assets/fonts/Newsreader-opsz_wght.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="{{ 'assets/fonts/Newsreader-Italic-opsz_wght.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin />
<link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
