<footer>
  <nav aria-label="footer-navigation">
    <ul class="horizontal-list">
      {% for link in site.data.navigation.footer %}
      <li>
        <a href="{{ link.url }}">{{ link.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</footer>
