<header>
  <nav aria-label="main-navigation">
    <ul class="horizontal-list">
      {% for link in site.data.navigation.header %}
      <li>
        <a href="{{ link.url }}">{{ link.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
